
body {
    margin: 0;
    height: 100vh;
    background-image: url('https://store-images.s-microsoft.com/image/apps.26407.13954220614155117.d8d9dbf1-2f5f-4da3-8fa3-31cb6a7b59e9.ecbea8ae-a49e-499c-9639-5fab2d39d4ce'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.start-button { 
    padding: 15px 30px;  
    font-size: 24px; 
    font-weight: bold; 
    color: white; 
    background: linear-gradient(45deg, #ff6f61, #ffba5a); 
    border: none; 
    border-radius: 50px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 350px;
}

.start-button:hover { 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
    }

 

